registry=https://pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/registry/:username=manjuuu 
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/registry/:_password="a3c2dXduN2hod3B5ajd2ejVod2s1cTNuM3Bya3Q0d2pudWxtYnQ0M2FxbmgzZXN3d2FoYQ==" 
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/:username=manjuuu 
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/:_password="a3c2dXduN2hod3B5ajd2ejVod2s1cTNuM3Bya3Q0d2pudWxtYnQ0M2FxbmgzZXN3d2FoYQ=="
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/:email=npm requires email to be set but doesn't use the value
; end auth token


