registry=https://pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/registry/:username=manjuuu 
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/registry/:_password="kw6uwn7hhwpyj7vz5hwk5q3n3prkt4wjnulmbt43aqnh3eswwaha" 
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/:username=manjuuu 
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/:_password="kw6uwn7hhwpyj7vz5hwk5q3n3prkt4wjnulmbt43aqnh3eswwaha"
//pkgs.dev.azure.com/manjuuu/_packaging/manjuuu/npm/:email=npm requires email to be set but doesn't use the value
; end auth token


